.dropDown {
  position: absolute;
  top: 72px;
  right: 16px;
  width: 300px;
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 50px 50px -20px rgba(0, 0, 0, 0.1);
  transition: height 300ms ease;
}

@media (min-width: 1024px) {
  .dropDown {
    right: 24px;
  }
}
