.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 4px;
  background-color: #5fdaff;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: #5fdaff;
  }
  50% {
    transform: translateY(50px);
    background-color: #1cb1e0;
  }
  100% {
    transform: translateY(0px);
    background-color: #5fdaff;
  }
}
.circle1 {
  animation-delay: 0.1s !important;
}
.circle2 {
  animation-delay: 0.2s !important;
}
.circle3 {
  animation-delay: 0.3s !important;
}
.circle4 {
  animation-delay: 0.4s !important;
}
.circle5 {
  animation-delay: 0.5s !important;
}
.circle6 {
  animation-delay: 0.6s !important;
}
.circle7 {
  animation-delay: 0.7s !important;
}
.circle8 {
  animation-delay: 0.8s !important;
}
