.playButton {
  box-shadow: none;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  height: 56px;
}

.playButton > label {
  cursor: pointer;
  margin-top: 4px;
}
