.btn {
  padding: 16px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 32px;
  box-shadow: none;
  outline: none;
  border: none;
  background: transparent;
  min-width: 128px;
  margin-top: 32px;
  transition: background 200ms ease-out;
  cursor: pointer;
  width: 140px;
}

.btn:hover {
  background: white;
}
