.timer {
  position: relative;
  width: 204px;
  height: 204px;
  border-radius: 50%;
  margin-bottom: 4vh;
}

.smallTimer {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0 16px 48px 0;
  background: transparent !important;
}

.timerRing {
  stroke-width: 4px;
  transition: background 800ms ease;
}

.timerSegment {
  transform: rotate(-90deg);
  transform-origin: 50%;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-dashoffset: 120px;
  stroke-dasharray: 120px;
}

.timerFg {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-81px, -81px);
  transition: background 800ms ease;
}

.tomato {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 500;
}
