.navBar {
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 16px;
}

.navList {
  display: flex;
  justify-content: flex-end;
}

.navList > li {
  margin-left: 16px;
}

@media (min-width: 1024px) {
  .navBar {
    padding: 16px 32px;
  }
}
